form#device-reg-form(method="POST" action="/reg-device")
    //- .input-group.form-group
        //- .input-group-prepend
            span.input-group-text
                |User &nbsp;
                i.fas.fa-phone

    label.form-label.text-left Registered Phone No.
    include ./phone-input

    div
        input.form-control(type='hidden', value=device.hostname, name="hostname")
    
        input.form-control(type='hidden', value=device.ip, name="ip")
        
        input.form-control(type='hidden', value=device.mac, name="mac")

    //- .input-group.form-group
        .input-group-prependBILL634
        span.input-group-text
            i.fas.fa-key
        input.form-control(type='password', placeholder='password')

    //- .row.align-items-center.remember          
        //- input(type='checkbox') Remember Me

    .form-group.pt-2
        input.btn.float-right.login_btn(type='submit', value='Register Device')