.mb-1
    #valid-msg.alert.alert-info.hidden
    #error-msg.alert.alert-danger.hidden
.mb-2
    input.form-control.form-control-lg#phone(type='number',  required=true, name="phone" , data-country=zone.country)