doctype html


// ---- Include the above in your HEAD tag --------
head
  title Tulia Online

  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')


  // Bootsrap 4 CDN
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  // Fontawesome CDN
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
  link(rel="stylesheet", href="/vendor/intl-tel-input/css/intlTelInput.css")

  //- 
  style(type='text/css').
    html,
    body {
        background-image: url(#{bg_img});
        background-size:cover;
        background-position-x: center;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }

  //- 
  style(type='text/css')
    include ../public/css/styles.css

    include ../public/css/custom.css


  //- script 
  //-   include ../public/js/jquery.min.js

  

body 

  include mixins.pug


  block body



  script(src="/js/jquery.min.js") 
  script(src="/vendor/intl-tel-input/js/intlTelInput.min.js") 
  script(src="/js/main.js") 
  


