/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*, pre{
    color: #ccc;
    font-family: 'Roboto', sans-serif;
}
.container {
    height: 100%;
    align-content: center;
    
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card.large {
    width: 800px;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    margin: 20px 0 0;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.23);
    border-top: 1px solid rgba(0,0,0,.34);
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.20);
}


.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    /* width: 50px; */
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}


.login_btn {
    color: black;
    background-color: #FFC312;
}

.light_btn {
    color: black;
    background-color: #fadf8d;
}

a{
    color: #fadf8d;
}

a:hover{
    color: #FFC312;
}

.link_light{
    color: #ccc;
}

.link_light:hover{
    color: #fff;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
    font-size: .8em;
}

.links a {
    margin-left: 4px;
}

h1, h2,h3,h4,h5,h6{
    font-family: 'Righteous', cursive;
    color: #FFC312;
}

.btn-group .btn+.btn {
    border-left: 0.3px solid #555;
}

.form-label{
    display: block;
    font-weight: 500;
    letter-spacing: .0424rem;
}

.form-control {
    font-size: 1rem;
}

.input-group *{
    color: #000;
}

.text-muted {
    color: #9ca1a5!important;
}

.text-small, .text-sm{
    font-size: .875rem;
}

.text-large, .text-lg{
    font-size: 1.3em;
}

.alert-danger *{
    color: rgb(168, 6, 6);
}



img.logo {
    opacity: 1;
    width: 100px;
    padding: 10px;
    background-color: #292826;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.h3, h3 {
    font-size: 1.75rem;
}

h6.zone{
    font-family: 'Roboto', sans-serif;
}

.hidden{
    display: none;
}


