extends ../../layout.pug

block body

    .container
        .d-flex.justify-content-center.h-100
            .card
                .card-header

                    +header("Add Tulia User")

                    .d-flex.justify-content-end.social_icon
                        span 
                            //- Font https://fonts.google.com/specimen/Arbutus
                            img.logo(src=logo, alt="" srcset="" width="80")

                .card-body.text-center

                    //- a.btn.login_btn(href=tunnel.url + '/reg/' + ip )
                        | Click To Start

                    //- pre #{f.json(zone_data.packages)}

                   

                    br

                    form#device-reg-form(method="POST" action="/admin/dashboard/add-user")

                        //- Packages
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-wallet

                            select.form-control(name="packageId", required=true) 
                                option(value=null, desabled=true, selected=true) Select Package 
                                each pkg in zone_data.packages
                                    option(value=pkg.id) #{pkg.name} [ #{pkg.devices} devices, Ksh #{pkg.price} ]

                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-user

                            input.form-control(type='text' placeholder='User Name', required=true, name="name")



                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-phone  +254

                            input.form-control(type='number' placeholder='Phone Number', required=true, name="phone")

                        .form-group
                            input.btn.float-right.login_btn(type='submit' value='Add User')

                include ../includes/card-footer