extends ../layout.pug

block body

    .container
        .d-flex.justify-content-center.h-100
            .card.large
                .card-header

                    +header("Dashboard")

                    .d-flex.justify-content-end.social_icon
                        span 
                            //- Font https://fonts.google.com/specimen/Arbutus
                            img.logo(src=logo, alt="" srcset="" width="80")

                .card-body

                    br

                    .btn-group(role='group', aria-label='Basic example')

                        a.btn.btn-info(href="/admin/dashboard/add-user") Add User
                        a.btn.btn-info Add User

                   

                include ../includes/card-footer