extends ../layout.pug

block body

    .container
        .d-flex.justify-content-center.h-100
            .card
                .card-header

                    +header("Karibu Tulia Zone " + zone._id)

                    .d-flex.justify-content-end.social_icon
                        span 
                            //- Font https://fonts.google.com/specimen/Arbutus
                            img.logo(src=logo, alt="", srcset="" width="80")

                .card-body.text-center

                    //- a.btn.login_btn(href=  "http://" + zone.private_ip + ':' + zone.port + '/reg-device/' + ip )
                        | Click To Start

                    //- pre #{f.json(flash)}

                    //- include ../includes/flash
                    if flash                     
                        if flash.info 
                            .alert.alert-info.mb-1 
                                |#{flash.info}

                        else if flash.error 
                            .alert.alert-danger.mb-1
                                |#{flash.error}

                        p.text-muted.text-sm 
                            i 
                                a(href="#") Contact Zone (#{zone._id}) Admin 
                                | for Registration.

                    if !device || !device.hostname

                        .alert.alert-danger
                            .text-large Unable to load Device Registration Form

                        a.btn.btn-danger.text-white(href="/") Refresh Page
                            //- Refresh Page
                            //- meta(http-equiv="refresh" content="5")

                    else                       
                        include ../includes/device-reg
                
                    
                            
                include ../includes/card-footer