extends ../layout.pug

block body

    .container
        .d-flex.justify-content-center.h-100
            .card
                .card-header

                    +header()

                    .d-flex.justify-content-end.social_icon
                        span 
                            //- Font https://fonts.google.com/specimen/Arbutus
                            img.logo(src=logo, alt="" srcset="" width="80")

                .card-body.text-center


                    br

                    form#device-reg-form(method="POST" action="/admin/login")
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-key
                            input.form-control(type='password' placeholder='Password', required=true, name="password")



                        .form-group
                            input.btn.float-right.login_btn(type='submit' value='Login')

                include ../includes/card-footer