extends ../layout.pug

block body

    .container
        .d-flex.justify-content-center.h-100
            .card
                .card-header

                    +header("Register Your Device")

                    .d-flex.justify-content-end.social_icon
                        span 
                            //- Font https://fonts.google.com/specimen/Arbutus
                            img.logo(src=logo, alt="", srcset="" width="80")

                .card-body.text-center
                
                    form#device-reg-form(method="POST" action="/user")
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-phone
                            input.form-control(type='text', placeholder='721 684 706', required=true, name="uid")

                            
                            input(name="ip", value=ip, type="hidden")
                            
            
                        .form-group
                            input.btn.float-right.login_btn(type='submit', value='Register Device')
                            
                include ../includes/card-footer